USE [master]
GO
/****** Object:  Database [quan_ly_khach_san]    Script Date: 4/26/2022 3:49:14 PM ******/
CREATE DATABASE [quan_ly_khach_san]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quan_ly_khach_san', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quan_ly_khach_san.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quan_ly_khach_san_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quan_ly_khach_san_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quan_ly_khach_san].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quan_ly_khach_san]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 3)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPDP]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPDP]()
RETURNS VARCHAR(8)
AS
BEGIN
	DECLARE @ID VARCHAR(8)
	IF (SELECT COUNT(MAPHIEUDATPHONG) FROM PHIEUDATPHONG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPHIEUDATPHONG, 5)) FROM PHIEUDATPHONG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PDP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PDP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NOT NULL,
	[GIADV] [float] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[MAPHIEUDATPHONG] [varchar](10) NOT NULL,
	[NGAYLAPHD] [datetime] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [int] NULL,
	[CMND] [varchar](13) NOT NULL,
	[SDT] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](10) NOT NULL,
 CONSTRAINT [PK__KHACHHAN__603F592CD9ED3A95] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [varchar](10) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NOT NULL,
	[GIAPHONG] [float] NOT NULL,
	[CHITIET] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND_NV] [varchar](13) NOT NULL,
	[DIACHI_NV] [nvarchar](100) NOT NULL,
	[SDT_NV] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[GIOITINH] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATPHONG]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATPHONG](
	[MAPHIEUDATPHONG] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[NGAYDEN] [date] NOT NULL,
	[NGAYDI] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_TIENICH]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_TIENICH](
	[MALOAIPHONG] [varchar](10) NOT NULL,
	[MATIENICH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHONG_TIENICH] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC,
	[MATIENICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[MAPHIEUDATPHONG] [varchar](10) NOT NULL,
	[MALOAIPHONG] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETDATPHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDATPHONG] ASC,
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENICH]    Script Date: 4/26/2022 3:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENICH](
	[MATIENICH] [varchar](10) NOT NULL,
	[TENTIENICH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TIENICH] PRIMARY KEY CLUSTERED 
(
	[MATIENICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [CMND], [SDT], [EMAIL], [USERNAME], [PASSWORD]) VALUES (N'KH001', N'hà', CAST(N'2022-04-10' AS Date), 1, N'49788947', 675785, N'ngocha1999.hh@gmail.com', N'Hoangha', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [CMND], [SDT], [EMAIL], [USERNAME], [PASSWORD]) VALUES (N'KH002', N'hihi', CAST(N'2022-04-05' AS Date), 1, N'49788947', 34636, N'hh@gmail.com', N'hhhkkk', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [CMND], [SDT], [EMAIL], [USERNAME], [PASSWORD]) VALUES (N'KH003', N'hà', CAST(N'2022-03-07' AS Date), 1, N'49788947', 399161596, N'ngocha1999.hh@gmail.com', N'0399161596', N'123')
GO
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [GIAPHONG], [CHITIET]) VALUES (N'ML01', N'Phòng Standard ', 1000000, N'Standard là hạng phòng tiêu chuẩn trong khách sạn, có diện tích nhỏ, thường nằm ở tầng thấp, không có view hoặc view không đẹp. Phòng STD được trang bị các vật dụng - trang thiết bị cơ bản và có mức giá thấp nhất.')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [GIAPHONG], [CHITIET]) VALUES (N'ML02', N'Phòng Superior ', 1500000, N'So với Standard thì Superior là hạng phòng có chất lượng tốt hơn - diện tích rộng - trang thiết bị tiện nghi - view đẹp. Cũng vì thế mà mức giá thuê phòng SUP sẽ cao hơn.')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [GIAPHONG], [CHITIET]) VALUES (N'ML03', N'Phòng Deluxe', 2000000, N'Hạng phòng trên SUP 1 bậc là Deluxe. Đây là loại phòng cao cấp trong các khách sạn, chủ yếu nằm trên tầng cao với không gian rộng, nhiều thiết bị tiện nghi - view ngắm cảnh đẹp.')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [CMND_NV], [DIACHI_NV], [SDT_NV], [EMAIL], [GIOITINH]) VALUES (N'NV01', N'Đỗ Như Việt', CAST(N'2000-01-01' AS Date), N'12345667 ', N'hcm', 91283291, N'nhuviet@gmail.com', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [CMND_NV], [DIACHI_NV], [SDT_NV], [EMAIL], [GIOITINH]) VALUES (N'NV02', N'KK', CAST(N'2000-02-02' AS Date), N'BJHBJK', N'KK', 675785, N'HJDSJ@GMAIL.COM', 0)
GO
INSERT [dbo].[PHIEUDATPHONG] ([MAPHIEUDATPHONG], [MAKH], [NGAYDEN], [NGAYDI]) VALUES (N'PDP82', N'KH001', CAST(N'2022-04-27' AS Date), CAST(N'2022-04-28' AS Date))
GO
INSERT [dbo].[THUEPHONG] ([MAPHIEUDATPHONG], [MALOAIPHONG]) VALUES (N'PDP82', N'ML01')
GO
INSERT [dbo].[TIENICH] ([MATIENICH], [TENTIENICH]) VALUES (N'TI01', N'Gần bãi biển')
INSERT [dbo].[TIENICH] ([MATIENICH], [TENTIENICH]) VALUES (N'TI02', N'Gần trung tâm thành phố')
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [IDKH]  DEFAULT ([DBO].[AUTO_IDKH]()) FOR [MAKH]
GO
ALTER TABLE [dbo].[PHIEUDATPHONG] ADD  CONSTRAINT [MAPHIEUDATPHONG]  DEFAULT ([DBO].[AUTO_IDPDP]()) FOR [MAPHIEUDATPHONG]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DICHVU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUDATPHONG] FOREIGN KEY([MAPHIEUDATPHONG])
REFERENCES [dbo].[PHIEUDATPHONG] ([MAPHIEUDATPHONG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUDATPHONG]
GO
ALTER TABLE [dbo].[PHIEUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATPHONG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDATPHONG] CHECK CONSTRAINT [FK_PHIEUDATPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[PHONG_TIENICH]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TIENICH_PHONG_TIENICH] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG_TIENICH] CHECK CONSTRAINT [FK_PHONG_TIENICH_PHONG_TIENICH]
GO
ALTER TABLE [dbo].[PHONG_TIENICH]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TIENICH_TIENICH] FOREIGN KEY([MATIENICH])
REFERENCES [dbo].[TIENICH] ([MATIENICH])
GO
ALTER TABLE [dbo].[PHONG_TIENICH] CHECK CONSTRAINT [FK_PHONG_TIENICH_TIENICH]
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[THUEPHONG] CHECK CONSTRAINT [FK_THUEPHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_PHIEUDATPHONG] FOREIGN KEY([MAPHIEUDATPHONG])
REFERENCES [dbo].[PHIEUDATPHONG] ([MAPHIEUDATPHONG])
GO
ALTER TABLE [dbo].[THUEPHONG] CHECK CONSTRAINT [FK_THUEPHONG_PHIEUDATPHONG]
GO
USE [master]
GO
